* {
    padding: 0;
    margin: 0;
    font-family: verdana;
}

.principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    border: 3px ridge black;
    width: 40%;
    height: 50vh;
}

.form-login {
    width: 40%;
    height: 50vh;
}

footer{
    background-color: #222;
    min-height: 20vh;
}

main{
    display: flex;
    align-items: center;
    min-height: 60vh;
}